<header>
    <div class="container-fluid bg-primary">
        
        <nav class="navbar navbar-expand-sm justify-content-around">

            <a class="navbar-brand bg-warning" href="">logo</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-navbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bg-danger" id="collapse-navbar">   
                <div class="container">


                    <ul class="navbar-nav d-flex justify-content-around text-center bg-secondary">
                        <li class="nav-item">link1</li>
                        <li class="nav-item">link2</li>
                        <li class="nav-item">link3</li>
                        <li class="nav-item">link4</li>
                    </ul>
                </div> 
            </div>

        </nav>
    </div>
</header>