.hero{
    padding-bottom: 10em;
    padding-top: 10em;

    @media (min-width: 768px) {
        padding-bottom: 15em;
        padding-top: 15em;
    }

    @media (min-width: 992px) {
        padding-bottom: 20em;
        padding-top: 20em;
    }
}