// @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$primary: #FFD700;
$secondary: #000000;
$dark: #1b1f22;
$body-bg: #000000;
$body-color: #ffffff; // font color general
$info: #A0A7AE;//color texto gris

$font-family-base: 'JetBrains Mono', monospace;

@import "bootstrap/scss/bootstrap";



svg { 
    // filter: brightness(0) invert(1); /* convierte todo a blanco */ 
} 
svg:hover { 
    // filter: none; /* vuelve a mostrar los colores originales */ 
    transform: scale(1.5);
    transition: 0.6s;
}

.exp-techs {
    font-size: 0.85em;
}

.exp-techs:hover {
    background-color: $primary;
    color: $dark;
}


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}